 <title>mis diseños</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
 
  
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ENCANTADA NAILS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./index">inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./turnos">Turnos</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="./precios">Lista de precios</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">salir</a>
                    </li>
                 </ul>
            </div>
        </div>
    </nav>
 <div class="d-flex justify-content-center align-items-center ">
   <div id="carouselExampleCaptions" class="carousel slide ">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://imgs.search.brave.com/VbzdSgSCGNU1O5oh9veV-l8ZCVUHDZgW5h-Hyw2H9Qc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tdWpl/cnNhbHVkYWJsZTEw/LmNvbS93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMy8wMS9kaXNl/bm9zLWRlLXVuYXMt/Y29ydGFzLmpwZw" alt="kapiing">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>kapping</h5>
                      
                    </div>
                </div>
                <div class="carousel-item">
                   <img src="https://imgs.search.brave.com/ffYCn80DmYGWvOhjyqxHHa5QrmOOd5R5_IlCYUJj9bE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzI3L2Y4/LzU2LzI3Zjg1NjAx/NTUwOWZjMzE2MWE0/YjYwMGE3ZDU2ZjUz/LmpwZw" alt="kapiing">
                    <div class="carousel-caption d-none d-md-block">
                         <h5>kapping</h5>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/9kH8tpDtWRhmk229ghuf4tuYi00DhY-NDOMMQfJNzko/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzc1LzMw/LzRlLzc1MzA0ZTgz/MDcxMDg4MGMzNDll/YTZmNGM3ZWRlMzU3/LmpwZw" alt="kapiing">
                    <div class="carousel-caption d-none d-md-block">
                       <h5>kapping</h5>
                      
                    </div>
                </div>
           </div> 
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div> 

 <div class="d-flex justify-content-center align-items-center  ">
    <div id="carouselExampleCaptions2" class="carousel slide2">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://imgs.search.brave.com/yyew4h3P5DYh1aru4_sRrLMPAtGiqOowQJnUU9Cov8A/rs:fit:860:0:0/g:ce/aHR0cHM6Ly94bi0t/ZGlzZW9zdWFzLW82/YWQuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIxLzA0L2Vs/ZWdhbnRlcy11bmFz/LWRlLWdlbC1jb2xv/ci1henVsLmpwZw"  alt="soft gel">
                    <div class="carousel-caption d-none d-md-block">
                          <h5>soft gel</h5>
                       
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/cubgU155D1GYFvfPa4h8DIFW9YNuWMMwdE0LBHamcQo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2xhcmEuZXMvbWVk/aW8vMjAyMi8wOS8x/Mi91bmFzLWRlLWdl/bF83Y2IwYjljZV8x/MDgweDEwODAuanBn" alt="soft gel">
                    <div class="carousel-caption d-none d-md-block">
                         <h5>soft gel</h5>
                      
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/YVDvXtDMGxjE-FCx6LPKT1J8k2DylZYOhBQnlN0EXLY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly94bi0t/ZGlzZW9zdWFzLW82/YWQuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIxLzA0L3Vu/YXMtZGUtZ2VsLWNv/cnRhcy1kb3MtdG9u/by1kZS1henVsLmpw/Zw"  alt="soft gel">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>soft gel</h5>
                      
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div> 
</div>  
 <div class="d-flex justify-content-center align-items-center ">
    <div id="carouselExampleCaptions3" class="carousel slide3">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://imgs.search.brave.com/j-TK6qvTuGPGZ4NuowBNMfehYPzqH20MC_iRZnSmt90/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2xhcmEuZXMvbWVk/aW8vMjAyMi8wNC8w/NC9kaXNlbm9zLWRl/LXVuYXMtYWNyaWxp/Y2FzXzk4ZGNkNzMw/XzE0NDB4MTQ0MC5q/cGc" alt="acrilicas">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>acrilicas</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/B6cPPzZv3Iv1VOFvJ_RBIzGUA4RBJf1rBRmV0OI6FAo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2xhcmEuZXMvbWVk/aW8vMjAyMi8wNC8w/NC9kaXNlbm9zLWRl/LXVuYXMtYWNyaWxp/Y2FzXzA5ZTNhZTMw/XzEwODB4MTA3OS5q/cGc"alt="acrilicas">
                    <div class="carousel-caption d-none d-md-block">
                         <h5>acrilicas</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/RYTz4oQLJwc5MSCxuAcdZhJ84zFAt_okb5SCMb-PnXQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50Lmxpc3Rpc2lt/YS5jb20vbWVkaW8v/MjAyMy8wMS8zMC91/bmFzLWFjcmlsaWNh/cy1jb3J0YXMtbG9z/LWRpc2Vub3MtcXVl/LXZhbW9zLWEtdmVy/LWVuLTIwMjNfOGJh/ZTUyNjlfMjMwMTMw/MTMxOTA4Xzk5MHg5/OTAud2VicA"  alt="acrilicas">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>acrilicas</h5>
                     </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div> 
 <div class="d-flex justify-content-center align-items-center ">
    <div id="carouselExampleCaptions4" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://imgs.search.brave.com/cubgU155D1GYFvfPa4h8DIFW9YNuWMMwdE0LBHamcQo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2xhcmEuZXMvbWVk/aW8vMjAyMi8wOS8x/Mi91bmFzLWRlLWdl/bF83Y2IwYjljZV8x/MDgweDEwODAuanBn"  alt="polygel">
                    <div class="carousel-caption d-none d-md-block">
                     <h5>polygel</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/MkjP2G5QqGz6jDLTWu0F9C0V09JslAGM9ewWO1gnE2E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2xhcmEuZXMvbWVk/aW8vMjAyMi8wOS8x/Mi91bmFzLWRlLWdl/bF8wODBmODU4YV8x/MDgweDEwODAuanBn"  alt="polygel">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>polygel</h5>
                       
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/iNeW0Ss0w-Aqt2uZcLiRnLGxHOtulw4PNGE-BN5JmBA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzViL2Jh/L2JhLzViYmFiYTY0/OGZlNjA3ZjMyMjk3/MGYwN2I5ZDIzZDJk/LmpwZw"  alt="polygel">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>polygel</h5>
                       
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>
 <div class="d-flex justify-content-center align-items-center ">
    <div id="carouselExampleCaptions5" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://imgs.search.brave.com/2E58tnhuXwQKn1u08rzlHYBf3GUtKg3mqKUc3GsiuQ0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly94bi0t/ZGlzZW9zdWFzLW82/YWQuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIyLzExL2lt/YWdlbmVzLW1vZGVs/b3MtZm90b3MtZGUt/ZGlzZW5vcy1kZS11/bmFzLXNlbWlwZXJt/YW5lbnRlcy1zZW5j/aWxsYXMtY29ydGFz/LTMud2VicA"  alt="semipermanente">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>semipermanente</h5>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/psRhLSb9BWdFezAAHNCoPA9CGEIQ1XTQQjVf9IDr1f4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9taWVz/dGV0aWthLmNvbS93/cC1jb250ZW50L2dh/bGxlcnkvdW5hcy1k/ZS12ZXJhbm8vY2Fj/aGUvVW5hcy1zZW1p/cGVybWFuZW50ZXMt/ZGUtdmVyYW5vLWNv/bi1wYWxtZXJhcy5q/cGctbmdnaWQwMzcz/MS1uZ2cwZHluLTEw/MDB4MTAwMHgxMDAt/MDBmMHcwMTBjMDEw/cjExMGYxMTByMDEw/dDAxMC5qcGc"  alt="semipermanente">
                    <div class="carousel-caption d-none d-md-block">
                            <h5>semipermanente</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://imgs.search.brave.com/wJSj1ncBqCX2Fi2onqWVJkrP0rOnBq8FQ7sjElzKn1c/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzA1L2Qy/LzMxLzA1ZDIzMWRi/MjA0ODM2NDdmMjEz/MDYwMjYzZGNiY2Q5/LmpwZw"  alt="semipermanente">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>semipermanente</h5>
                       
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions5"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions5"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

   